@import url(/css/style.css);
@import url(/css/crud_cliente.css);

#header-clientes, #tabela-clientes {
    justify-self: center;

    width: 90%;
    max-width: 90%;

    margin-top: 1%;
}

#opcoes-cliente, #filtro-clientes, #tabela-clientes {
    border: solid 1px black;
    border-radius: 2%;
}

#header-clientes {
    display: flex;
    justify-content: space-between;
}

#opcoes-cliente, #filtro-clientes {
    padding: 16px;
}

#opcoes-cliente {
    width: 20%;
    justify-items: center;
}

#filtro-clientes {
    display: flex;
    flex-direction: column;

    gap: 8px;
    width: 70%;

    align-items: center;
}

#filtro-clientes button {
    width: fit-content;
    margin-top: 16px;
}

#campos-filtro-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: fit-content;

    gap: 4px;
}

#tabela-clientes {
    border: solid 1px black;
    border-radius: 2%;

    padding: 8px;
}

#tabela-clientes th, #tabela-clientes td{
    border: solid 1px gray;
    padding: 8px;
    text-align: center;
}

#consultar-transacoes h3 {
    text-align: center;
}

#consultar-transacoes table tr th, #consultar-transacoes table tr td {
    border: solid 1px gray;
    padding: 8px;
    text-align: center;
}