@import url(/css/style.css);
@import url(/css/crud_cliente.css);

#container-conta {
    display: flex;
    margin-top: 1%;

    justify-content: space-evenly;
}

#nav-lateral {
    width: 20%;
    max-width: 20%;
}

#nav-lateral img {
    height: 40px;
}

#container-conta section {
    padding: 16px;
    justify-self: center;

    border: solid 1px black;
    border-radius: 2%;

    width: 60%;
    max-width: 60%;

    height: fit-content;
}

#dados-endereco, #dados-cartao-credito {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: fit-content;
    gap: 16px;
}

#dados-endereco h3, #dados-cartao-credito h3 {
    justify-self: center;
}

