@import url(/css/style.css);
@import url(/css/crud_cliente.css);

#opcoes-conta {
    justify-self: center;

    margin-top: 1%;
}

#conta {
    display: flex;
    margin-top: 1%;

    justify-content: space-around;
}

#dados-pessoais, .endereco-conta, .cartao-credito-conta {
    padding: 16px;
    justify-self: center;

    border: solid 1px black;
    border-radius: 2%;
}

#dados-pessoais {
    width: 25%;
    height: fit-content;
}

#dados-endereco, #dados-cartao-credito {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: fit-content;
    gap: 16px;
}

#dados-endereco h3, #dados-cartao-credito h3 {
    justify-self: center;
}