/*clientes*/
#header-clientes, #tabela-clientes {
    justify-self: center;

    width: 90%;
    max-width: 90%;

    margin-top: 1%;
}

#opcoes-cliente, #filtro-clientes, #tabela-clientes {
    border: solid 1px black;
    border-radius: 2%;
}

#header-clientes {
    display: flex;
    justify-content: space-between;
}

#opcoes-cliente, #filtro-clientes {
    padding: 16px;
}

#opcoes-cliente {
    width: 20%;
    justify-items: center;
}

#filtro-clientes {
    display: flex;
    flex-direction: column;

    gap: 8px;
    width: 70%;

    align-items: center;
}

#filtro-clientes button {
    width: fit-content;
    margin-top: 16px;
}

#campos-filtro-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: fit-content;

    gap: 4px;
}

#tabela-clientes {
    border: solid 1px black;
    border-radius: 2%;

    padding: 8px;
}

#tabela-clientes th, #tabela-clientes td{
    border: solid 1px gray;
    padding: 8px;
    text-align: center;
}

/*conta*/
#opcoes-conta {
    justify-self: center;

    margin-top: 1%;
}

#conta {
    display: flex;
    margin-top: 1%;

    justify-content: space-around;
}

#dados-pessoais, .endereco-conta, .cartao-credito-conta {
    padding: 16px;
    justify-self: center;

    border: solid 1px black;
    border-radius: 2%;
}

#dados-pessoais {
    width: 25%;
    height: fit-content;
}

#dados-endereco, #dados-cartao-credito {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: fit-content;
    gap: 16px;
}

#dados-endereco h3, #dados-cartao-credito h3 {
    justify-self: center;
}

/*cadastrar*/
#form-cadastrar {
    justify-items: center;
}

#cadastrar-cliente {
    margin-top: 1%;
    margin-bottom: 1%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    justify-items: center;

    gap: 20px;

    max-width: 80%;
    width: 80%;
}

#cadastrar-cliente section {
    align-items: center;

    border: solid 1px black;
    border-radius: 2%;

    justify-items: center;
    width: 100%;

    padding-top: 8px;
    padding-bottom: 20px;

    height: fit-content;
}

.dados-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 80%;
    max-width: 80%;
    
    gap: 8px 0px;
}

.dados-endereco {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: fit-content;
    max-width: 80%;
    
    gap: 8px 0px;
}

.endereco, .cartao-credito {
    margin: 10px 0px;

    border: solid 1px black;
    padding: 8px;
    border-radius: 2%;

    gap: 1%;

    width: 80%;
    max-width: 80%;

    background-color: lightgreen;
}

.numeracao {
    display: flex;
    justify-content: space-between;
}

.numeracao p {
    background-color: pink;

    border: solid 1px black;

    padding: 4px;
}

/**/

.aviso {
    background-color: lightyellow;
    border: solid 1px black;
    padding: 8px;
    border-radius: 2%;

    margin-left: 10%;
    margin-right: 10%;
}

.botao-prototipo {
    background-color: lightgreen;
}

.botao-fechar {
    width: fit-content;
    float: right;
    background-color: red;
}

.botao-salvar {
    width: fit-content;

    font-size: larger;
    border-radius: 20%;
    background-color: lightgreen;
    padding: 8px;
}

/*modais*/
.modal {
    display: none;
    position: fixed;
    z-index: 9;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.conteudo-modal {
    background-color: white;

    border: solid 1px black;
    border-radius: 2%;
    padding: 8px;

    max-height: 80%;
    max-width: 60%;
    width: fit-content;

    overflow-y: auto;
}

.conteudo-modal::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    margin: 10px;
}

.conteudo-modal::-webkit-scrollbar-track {
    border-radius: 20px;
    margin: 10px;
}

.conteudo-modal::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: white;
    border: solid black 1px;
}

#alterar-senha {
    justify-items: center;
}

#alterar-endereco, #consultar-transacoes, #alterar-cartao-credito, #alterar-dados-pessoais {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#alterar-endereco, #alterar-cartao-credito, #alterar-dados-pessoais {
    align-items: center;
}

#consultar-transacoes h3 {
    text-align: center;
}

#consultar-transacoes table tr th, #consultar-transacoes table tr td {
    border: solid 1px gray;
    padding: 8px;
    text-align: center;
}