@import url(chat_ia.css);
@import url(main-header.css);

:root {
    --cor-exemplo: #FFFFFF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

main {
    display: flex;
    justify-content: space-around;

    gap: 5%;
    margin: 2%;
}

.aviso {
    background-color: lightyellow;
    border: solid 1px black;
    padding: 8px;
    border-radius: 2%;

    margin-left: 10%;
    margin-right: 10%;
}

.botao-prototipo {
    background-color: lightgreen;
}

.botao-fechar {
    width: fit-content;
    float: right;
    background-color: red;
}

.botao-salvar {
    width: fit-content;

    font-size: larger;
    border-radius: 20%;
    background-color: lightgreen;
    padding: 8px;
}