:root {
    --cor-exemplo: 2;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

header {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
    background-color: lightblue;
}

#menu-usuario {
    justify-content: right;
}

#menu-usuario button {
    border: 0;
}

#menu-usuario img {
    height: 30px;
}

/*Chat da IA*/
#chat-ia {
    display: none;
    position: fixed;
    flex-direction: column;
    
    top: 15%;
    right: 1%;

    max-width: 25%;
    width: 25%;
    max-height: 75%;
    height: 75%;

    z-index: 9;
}

#chat-ia-header {
    display: flex;

    justify-content: center;
    align-items: center;

    max-height: 10%;
    height: 10%;

    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: white;
    border: solid black 1px;

    font-family: cursive;
    font-size: 20px;
}

#historico-conversa {
    max-height: 75%;
    height: 75%;
    overflow-y: auto;

    border-left: solid black 1px;
    border-right: solid black 1px;

    background-color: lightblue;
}

#historico-conversa::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    margin: 10px;
}

#historico-conversa::-webkit-scrollbar-track {
    border-radius: 20px;
    margin: 10px;
}

#historico-conversa::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: white;
    border: solid black 1px;
}

.texto-ia, .texto-usuario {
    border-radius: 10%;
    margin: 10px 20px;
    padding: 0px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    align-items: center;
    
    gap: 10px;
    max-width: 70%;
    width: fit-content;

    font-size: 14px;
    border: solid black 1px;

    /*Quebra palavras longas em diversos navegadores*/
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    /*Quebra palavras longas em diversos navegadores*/
}

.texto-ia img, .texto-usuario img {
    height: 20px;
}

.texto-ia {
    background-color: white;
}

.texto-usuario {
    justify-self: flex-end;
    flex-direction: row-reverse;
    background-color: khaki;
}

#enviar-mensagem {
    height: 15%;
    max-height: 15%;
    display: flex;

    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    background-color: lightblue;
}

#enviar-mensagem button, #enviar-mensagem textarea {
    margin: 10px;
    border-radius: 10%;
    border: solid black 1px;
}

#enviar-mensagem button {
    width: 20%;
}

#enviar-mensagem button img {
    height: 15px;
}

#enviar-mensagem textarea {
    width: 70%;
    resize: none;
}

main {
    display: flex;
    justify-content: space-around;

    gap: 5%;
    margin: 2%;
}

#navegacao-lateral {
    max-width: 20%;
    width: 70%;
    background-color: lightblue;
}

#container-produtos {
    max-width: 70%;
    width: 70%;
    background-color: lightblue;
}