[DEFAULT]
api.key=GEMINI_API_KEY

database.user=user
database.password=password

# Especifico ao Java
database.driver=org.postgresql.Driver
database.url=jdbc:postgresql://localhost:5432/esboco_comix

# Especifico ao Python
database.host=localhost
database.port=5432
database.database=esboco_comix
