[DEFAULT]
api.key=GEMINI_API_KEY
gemini.model=GEMINI_MODEL

database.user=USUARIO
database.password=SENHA

# Especifico ao Java
database.driver=org.postgresql.Driver
database.url=jdbc:postgresql://localhost:5432/esboco_comix
