/*clientes*/
#header-clientes, #tabela-clientes {
    justify-self: center;

    width: 90%;
    max-width: 90%;

    margin-top: 1%;
}

#opcoes-cliente, #filtro-clientes, #tabela-clientes {
    border: solid 1px black;
    border-radius: 2%;
}

#header-clientes {
    display: flex;
    justify-content: space-between;
}

#opcoes-cliente, #filtro-clientes {
    padding: 16px;
}

#opcoes-cliente {
    width: 20%;
    justify-items: center;
}

#filtro-clientes {
    display: flex;
    flex-direction: column;

    gap: 8px;
    width: 70%;

    align-items: center;
}

#filtro-clientes button {
    width: fit-content;
    margin-top: 16px;
}

#campos-filtro-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: fit-content;

    gap: 4px;
}

#tabela-clientes {
    border: solid 1px black;
    border-radius: 2%;

    padding: 8px;
}

#tabela-clientes th, #tabela-clientes td{
    border: solid 1px gray;
    padding: 8px;
    text-align: center;
}

/*conta*/
#opcoes-conta {
    justify-self: center;

    margin-top: 1%;
}

#conta {
    display: flex;
    margin-top: 1%;

    justify-content: space-around;
}

#dados-pessoais, .endereco-conta, .cartao-credito-conta {
    padding: 16px;
    justify-self: center;

    border: solid 1px black;
    border-radius: 2%;
}

#dados-pessoais {
    width: 25%;
    height: fit-content;
}

#dados-endereco, #dados-cartao-credito {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: fit-content;
    gap: 16px;
}

#dados-endereco h3, #dados-cartao-credito h3 {
    justify-self: center;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 9;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
}

#modal-alterar-senha {
    display: none;
}

#alterar-senha {
    display: flex;
    flex-direction: column;
    width: fit-content;

    background-color: white;

    border: solid 1px black;
    border-radius: 2%;
    padding: 8px;

    gap: 8px;
}


/*cadastrar*/
#cadastrar-cliente {
    margin-top: 1%;

    justify-self: center;
    justify-items: center;

    max-width: 40%;
    width: 40%;
}

#cadastrar-cliente section {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px black;
    padding: 20px 8px;
    border-radius: 2%;

    margin: 10px 0px;

    width: 100%;

    gap: 4px;
}

#cadastrar-cliente section p {
    align-self: center;
    font-size: large;
}

.endereco, .cartao-credito {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

    border: solid 1px black;
    padding: 8px;
    border-radius: 2%;

    gap: 1%;

    width: 80%;
    max-width: 80%;

    background-color: lightgreen;
}

.numeracao {
    position: absolute;
}

.numeracao p {
    background-color: pink;

    border: solid 1px black;

    padding: 4px;
}

.dados-cadastro {
    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: 80%;
    align-self: center;

    gap: 4px;
}

/**/

.aviso {
    background-color: lightyellow;
    border: solid 1px black;
    padding: 8px;
    border-radius: 2%;
}

.botao-fechar {
    width: fit-content;
    align-self: self-end;
    background-color: red;
}

.botao-salvar {
    width: fit-content;
    align-self: center;
}