@import url(modais.css);

#modal-chat-ia .modal-body {
    max-height: 60vh;
    height: 60vh;
    overflow-y: auto;

    background-color: var(--azul-claro);
}

#modal-chat-ia .modal-body::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    margin: 10px;
}

#modal-chat-ia .modal-body::-webkit-scrollbar-track {
    border-radius: 20px;
    margin: 10px;
}

#modal-chat-ia .modal-body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: white;
    border: solid black 1px;
}

#historico-conversa {
    display: grid;
}

.texto-ia, .texto-usuario {
    white-space: pre-wrap;
    border-radius: 10%;
    margin: 10px;
    padding: 4px 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    align-content: center;
    justify-content: center;
    
    gap: 10px;
    max-width: 70%;
    width: fit-content;

    font-size: 16px;
    border: solid black 1px;

    /*Quebra palavras longas em diversos navegadores*/
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    /*Quebra palavras longas em diversos navegadores*/
}

.texto-ia img, .texto-usuario img {
    height: 20px;
}

.texto-ia {
    background-color: white;
}

.texto-usuario {
    justify-self: flex-end;
    flex-direction: row-reverse;
    background-color: khaki;
}

#modal-chat-ia .modal-footer {
    justify-content: space-around;
}

#modal-chat-ia .modal-footer img {
    height: 15px;
}

#modal-chat-ia .modal-footer textarea {
    width: 70%;
    resize: none;
}

#modal-chat-ia .modal-footer button {
    width: 20%;
    height: 32px;
}