@import url(style.css);

#navegacao-lateral {
    max-width: 20%;
    width: 70%;
    background-color: lightblue;
}

#container-produtos {
    max-width: 70%;
    width: 70%;
    background-color: lightblue;
}