@import url(chat_ia.css);
@import url(main-nav.css);
@import url(main-header.css);
@import url(main-footer.css);
@import url(bootstrap.min.css);

:root {
    --cor-exemplo: #FFFFFF;
    --verde: #66BB6A;
    --verde-secundario: #A5D6A7;

    --laranja: #FFA726;
    --laranja-secundario: #FFCC80;

    --cinza: #424242;
    --cinza-claro: #E0E0E0;

    --amarelo-claro: #fff59e;
    --azul-claro: #90CAF9;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

.text-black {
    color: black !important;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;

    gap: 5%;
    margin: 2%;
}

.aviso {
    background-color: lightyellow;
    border: solid 1px black;
    padding: 8px;
    border-radius: 2%;

    margin-left: 10%;
    margin-right: 10%;
}

.botao-prototipo {
    background-color: lightgreen;
}

.botao-fechar {
    width: fit-content;
    float: right;
    background-color: red;
}

.botao-salvar {
    width: fit-content;

    font-size: larger;
    border-radius: 20%;
    background-color: lightgreen;
    padding: 8px;
}